footer {
  border-top: 1px solid #dec129;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer h3 {
  margin-bottom: 1.3em;
}

footer span {
  font-weight: bold;
  color: #dec129;
}
